.comments-header {
  font-size: $comments-header-font-size; 
  font-weight: normal;
}
.comment-user {
  font-size: $comment-user-font-size;
  color: $text-color-primary;
  margin-bottom: .2rem;
}

.comment-text {
  font-size: $comment-text-font-size;
  color: $text-color-secondary;
  // to reset the <pre> text font
  font-family: $font-family-sans-serif;
  white-space: pre-wrap;

}

.comment-img {
  width: $comment-image-size;
  height: $comment-image-size;
  border-radius: $comment-image-radius;
}