// intro //
$intro-spinner-size: 3rem;
$intro-spinner-width: .3rem;

// scroll bar //
$scroll-bar-width: .8rem;
$scroll-bar-radius: 0.4rem;

// search bar //
$search-bar-max-width: 500px;

// preview card //
$preview-card-max-width: 900px;
$preview-img-max-width: 320px;
$preview-img-max-height: 180px;

// video //
$video-max-width: 900px;

// comments //
$comment-image-radius: 5rem;
$comment-image-size: 2.5rem;

// font sizes //
$header-title-font-size: 1.8rem;
$header-clock-font-size: .9rem;
$header-link-font-size: .9rem;
$preview-description-font-size: 1rem;
$preview-title-font-size: 1.1rem;
$intro-title-font-size: 4rem;
$video-title-font-size: 1.2rem;
$video-description-font-size: .9rem;
$stat-icon-font-size: 1.3rem;
$stat-text-font-size: .9rem;
$comment-user-font-size: 1rem;
$comment-text-font-size: 0.9rem;
$comments-header-font-size: 1rem;