// search bar //
$search-bar-max-width: 500px;

// preview card //
$preview-card-max-width: 900px;
$preview-img-max-width: 320px;
$preview-img-max-height: 180px;

// video //
$video-max-width: 900px;

// scroll bar //
$scroll-bar-width: .8rem;
$scroll-bar-radius: 0.4rem;

// font sizes //
$stat-icon-font-size: 1.3rem;
$stat-text-font-size: .9rem;
$preview-title-font-size: 1.1rem;
$preview-description-font-size: 1rem;
$header-title-font-size: 2.2rem;
$preview-description-font-size: 1rem;
