.header-title {
  cursor: pointer;
  display: inline;
  vertical-align: text-bottom;
  color: $text-color-primary;
  font-size: $header-title-font-size;
}

.header-icon {
  cursor: pointer;
  color: red;
  font-size: $header-title-font-size;
}