@include media-breakpoint-up(md) {
  .preview-card {
    flex-direction: row;
    max-width: 900px;
  }
  .preview-img {
    max-width: 250px;
  } 
}

.preview-title { 
  font-size: 1.1rem;
  font-weight: bold;
}

.preview-description {
  font-size: 1rem;
}