.preview-list-container {
  max-width: $preview-card-max-width;
  margin-left: auto;
  margin-right: auto;
}

.preview-card {
  cursor: pointer;
  transition: border-color 0.3s;
  &:hover {
    border-color: $text-color-primary;
  }
}

@include media-breakpoint-up(sm) {
  .preview-card {
    flex-direction: row;
  }
  .preview-img {
    max-width: $preview-img-max-width;
    max-height: $preview-img-max-height;
  }  
}

.preview-title {
  color: $text-color-primary;
  font-size: $preview-title-font-size;
  font-weight: bold; 
  word-break: break-word;
  margin: 0;
  transition: text-decoration 1s;
}

.preview-description {
  color: $text-color-secondary;
  font-size: $preview-description-font-size;
}