@include media-breakpoint-up(sm) {
  .preview-card {
    flex-direction: row;
    max-width: $preview-card-max-width;
  }
  .preview-img {
    max-width: $preview-img-max-width;
    max-height: $preview-img-max-height;
  }  
}

.preview-img {
  cursor: pointer;
}

.preview-title {
  font-size: $preview-title-font-size;
  font-weight: bold;
  word-break: break-all;
  display: flex;
  flex-direction: row;
}

.preview-description {
  font-size: $preview-description-font-size;
  word-break: break-all;
}