.stat-container {
  display: flex;
  flex-direction: row;
  color: $text-color-secondary;
}
.stat-icon {
  font-size: $stat-icon-font-size;
  margin-left: auto;
  margin-right: auto;
}

.stat-text {
  font-size: $stat-text-font-size;
  word-wrap: normal;
  margin-left: .2rem;
}

@include media-breakpoint-up(sm) {
  .stat-icon {
    margin-right: .3rem;
  }
  .stat-text {
    margin-right: auto;
  }
}