// forces 16:9 ratio on children
.video-ratio {
  position: relative;
  width: 100%;
  max-width: $video-max-width;
  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  max-width: $video-max-width;
}