@import 'node_modules/bootstrap/scss/bootstrap';
@import 'header';
@import 'scroll';
@import 'hidden';
@import 'preview';
@import 'search';
@import 'colors';
@import 'buttons';

html, body, #anchor {
  width: 100%;
  height: 100%;
}

body {
  background-color: $dark;
  color: white;
}

#anchor {
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  flex: 1 0 auto;
}